* {
	transition: width 0.3s, height 0.3s, background-color 0.3s, box-shadow 0.5s, color 0.15s;
}

body {
	background: #fff;
}

.modal-content {
	top: 50px!important;
	margin-bottom: 150px;
}

.ayMenuTop{
	height: 30px;
	background: #2C3B53;
	color:#9AA2AF;
	font-size: 12px;
}

.ayMenuTop font{
	vertical-align: text-top;
}

.ayHeader {
	background: #394A65;
	/*box-shadow: 0 0 6px 0 #666;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.ayHeader .menu {
	height: 70px;
	width: 150px;
	color: #B8BFCB;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
}

.ayHeader .menu p {
	/*padding: 5px 20px;*/
	/*border-radius: 50px;*/
	height: 70px;
	width: 150px;
}

.ayHeader .menu.active p,
.ayHeader .menu:hover p {
	background: #2C3B53;
	color: #fff;
	/*box-shadow: 2px 2px 6px 1px #999;*/
}

.menuTop {
	width: 60px!important;
	background: #394A65;
	color: #fff!important;
	font-size: 16px!important;
	/*box-shadow: 0px 2px 6px 0 #333;*/
}

.menuTop.large {
	width: 200px!important;
}

.menuTop font {
	display: none;
}

.menuTop.large font {
	display: -webkit-box;
}

.menuTop i {
	margin-right: 0px;
}

.menuTop.large i {
	margin-right: 20px;
}

.menuSetting{
	display: none!important;
}

.menuName{
	background: #F0F2F6;
	color: #3E75CC;
	border-left: 2px solid #3E75CC;
	font-weight: bold;
}

.list {
	height: 100%;
	background: #fff;
	width: 60px;
	transition: all 0.3s;
}

.list.large {
	width: 200px;
}

.list font {
	display: none;
}

.list.large font {
	display: block;
}

.listBox {
	position: fixed;
	top: 100px;
	left: 0;
	z-index: 999;
}

.list .list-menu {
	    /* height: 50px; */
    /*border-bottom: 1px solid #2b3b55;*/
    color: #a5cee0;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    /* position: fixed; */
    width: 60px;
    left: 0;
    /* top: 70px; */
    /* z-index: 999;*/
}

.list .list-menu i{
	color: #2C3B53;
}

.list.large .list-menu {
	width: 200px;
}

.list .list-menu font {
	font-size: 16px!important;
}

.list .list-menu:hover {
	/*background: #1e1f21;*/
}

.list .list-menu:hover .sub-menu {
	/*display: block;*/
}

.sub-menu {
	/* display: none; */
    /* width: 194px; */
    /* z-index: 2000; */
    /* position: absolute; */
    /* border-radius: 4px; */
    /* left: 60px; */
    background: #fff;
    /* top: 2px; */
    /* box-shadow: 2px 2px 4px 0 #435067; */
    font-size: 14px;
    /*box-shadow: 6px 2px 5px 0px #000 inset;*/
}

.list.large .sub-menu {
	/*left: 200px;*/
}

.list.large .sub-menu a{
	padding-left: 58px!important;
}

.sub-menu a span{
	display: none;
}

.list.large .sub-menu a span{
	display: -webkit-box!important;
}

.sub-menu a{
	padding-left: 20px;
	/*border-bottom: 1px solid #2b3b55;*/
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #666;
}

.sub-menu a.active,
.sub-menu a:hover {
	background: #dee4eb;
	color: #000;
	/*box-shadow: 0 0 1px 1px #000;*/
}

.content {
	background: #dee4eb;
	padding: 20px;
	/*box-shadow: 1px 0 3px 0px #666 inset;*/
}

.glyphicon.glyphicon-off:before {
	vertical-align: text-bottom;
}

.glyphicon-off {
	/*height: 68px;*/
	/*background: #eee;*/
	/*color: #fff;*/
}
.glyphicon-off font{
	vertical-align: baseline;
}

.glyphicon-off:hover,.setting:hover {
	/*background: #0E84F1;*/
	color: #fff;
}

.userInfo {
	/*height: 68px;*/
	/*line-height: 72px;*/
}

.userInfo img {
	width: 16px;
	vertical-align: sub;
}

.alertBox {
	display: none;
	position: fixed;
	width: 100%;
	top: 15px;
	z-index: 9999;
}

.alertBox .alert {
	padding: 10px 20px!important;
	display: table;
	margin: 0 auto;
	box-shadow: 0 0 3px 0 #ccc;
}

.alert-danger {
	background: red;
	color: #fff;
	border-color: red;
}