<style>
	img{
		width: 100%;
	}
	mip-i-space{
		display: none!important;
	}
	.article-body{
		padding: 10px 15px;
	}
</style>
<div class="article-body">
	<div class="mip-img-container">
		<mip-img layout="responsive" height="338" width="599" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1375159641,4075620873&amp;fm=170&amp;s=E5609A468B1320C633D9909B0100C081&amp;w=599&amp;h=338&amp;img.JPEG" class="mip-element mip-layout-responsive mip-layout-size-defined">
			<mip-i-space style="display: block; padding-top: 56.4274%;"></mip-i-space><img class="mip-fill-content mip-replaced-content" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1375159641,4075620873&amp;fm=170&amp;s=E5609A468B1320C633D9909B0100C081&amp;w=599&amp;h=338&amp;img.JPEG"></mip-img>
	</div>
	<p>2016不阿布，在北京车展上，宝沃正式发布了BX6 TS，与量产的BX7外观较为相似，整车科幻感强烈，辨识度相当高，接下来，就跟着小编一起来看看这款车型吧。</p>
	<div class="mip-img-container">
		<mip-img layout="responsive" height="322" width="628" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2024214911,3984121244&amp;fm=170&amp;s=61609B469F980CC6293CF89A0300C091&amp;w=628&amp;h=322&amp;img.JPEG" class="mip-element mip-layout-responsive mip-layout-size-defined">
			<mip-i-space style="display: block; padding-top: 51.2739%;"></mip-i-space><img class="mip-fill-content mip-replaced-content" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2024214911,3984121244&amp;fm=170&amp;s=61609B469F980CC6293CF89A0300C091&amp;w=628&amp;h=322&amp;img.JPEG"></mip-img>
	</div>
	<p>首先，外观上，前脸部分，采用了标志性八边形前进气格栅搭配点阵式内部设计，犀利霸气，与此同时，还配备了LED日间行车灯，整体时尚动感，运动感十分强烈。</p>
	<div class="mip-img-container">
		<mip-img layout="responsive" height="332" width="626" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=471158166,3011047852&amp;fm=170&amp;s=4B2608C7E3A887435EC1B1AA03006005&amp;w=626&amp;h=332&amp;img.JPEG" class="mip-element mip-layout-responsive mip-layout-size-defined">
			<mip-i-space style="display: block; padding-top: 53.0351%;"></mip-i-space><img class="mip-fill-content mip-replaced-content" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=471158166,3011047852&amp;fm=170&amp;s=4B2608C7E3A887435EC1B1AA03006005&amp;w=626&amp;h=332&amp;img.JPEG"></mip-img>
	</div>
	<p>车头部分，多边形前进气格栅内嵌菱形车标，辨识度相当高，除此之外，还配备了主动升降式尾翼，运动气息十分浓厚。</p>
	<div class="mip-img-container">
		<mip-img layout="responsive" height="322" width="630" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=4192980486,2029482153&amp;fm=170&amp;s=8E144182C7023149DE7D688C0300E002&amp;w=630&amp;h=322&amp;img.JPEG" class="mip-element mip-layout-responsive mip-layout-size-defined">
			<mip-i-space style="display: block; padding-top: 51.1111%;"></mip-i-space><img class="mip-fill-content mip-replaced-content" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=4192980486,2029482153&amp;fm=170&amp;s=8E144182C7023149DE7D688C0300E002&amp;w=630&amp;h=322&amp;img.JPEG"></mip-img>
	</div>
	<p>动力部分，宝沃BX6 TS概念车搭载了一套由2.0T发动机与电动机组成的混动系统，其中，2.0T发动机最大输出为200kW(272PS)，电动机最大输出功率为110kW(150PS)，传动系统匹配六速手自一体变速箱。</p>
</div>