<div class="BG-light-gray">
	<div class="xb xb-ver PALL-15 PB-10">
		<div class="xb xb-ac xb-pc xb-f1 BG-white radius-4 PV-5 PH-10 FS-12">
			<i class="xb xb-ac xb-pc icon-search MR-10 FC-lightGray"></i>
			<input class="xb xb-f1 xb-input-no" placeholder="输入省名、城市名或地区查询" />
		</div>
		<div class="FS-10 MT-20 FC-darkGray">定位到的位置</div>
	</div>
	<div class="BG-white">
		<div class="xb xb-bv1 PH-15 PV-10">
			<i class="xb xb-ac xb-pc FC-green FS-14 icon-location2"></i>
			<div class="xb xb-f1 FC-black FS-14 ML-10">定位城市：
				<font>杭州</font>
			</div>
		</div>
	</div>
	<div class="PALL-15 PB-10 xb-bb1 FS-10 FC-darkGray">
		按行政区选择
	</div>
	<div class="BG-white PH-15">
		<li class="xb PV-10 xb-bb1 FS-14">
			<span class="xb xb-f1 FC-black">浙江</span>
			<i class="xb xb-ac xb-pc icon-chevron-right FC-lightGray"></i>
		</li>
		<li class="xb PV-10 xb-bb1 FS-14">
			<span class="xb xb-f1 FC-black">浙江</span>
			<i class="xb xb-ac xb-pc icon-chevron-right FC-lightGray"></i>
		</li>
		<li class="xb PV-10 xb-bb1 FS-14">
			<span class="xb xb-f1 FC-black">浙江</span>
			<i class="xb xb-ac xb-pc icon-chevron-right FC-lightGray"></i>
		</li>
		<li class="xb PV-10 xb-bb1 FS-14">
			<span class="xb xb-f1 FC-black">浙江</span>
			<i class="xb xb-ac xb-pc icon-chevron-right FC-lightGray"></i>
		</li>
	</div>
</div>